extends layout

block title
  = "Les lycées dans votre région"
  
block stylesheets
  link(href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css", type='text/css', rel="stylesheet")
  link(href="/stylesheets/style.css", type='text/css', rel="stylesheet")

block scripts
  script(src="//maps.googleapis.com/maps/api/js?sensor=true", type="text/javascript")
  script(src="//www.google.com/jsapi", type="text/javascript")
  script(src="/javascripts/vendor/infobox.js", type="text/javascript")
  script(src="/javascripts/vendor/bootstrap.min.js", type="text/javascript")
  script(src="/javascripts/vendor/underscore-min.js", type="text/javascript")
  script(src="/javascripts/vendor/jquery.scrollTo-min.js", type="text/javascript")
  script(src="/javascripts/vendor/jquery.idle-timer.js", type="text/javascript")    
  script(src="/javascripts/vendor/jade.min.js", type="text/javascript")
  script(src="/javascripts/functions.utils.js", type="text/javascript")
  script(src="/javascripts/global.js", type="text/javascript")

block body
  #menu
    .wrapper
      .card
        fieldset
          legend Rechercher un lycée par son nom
          form.inputs.form-search#lyceeFilter
            label
              | Vous connaissez déjà le nom du lycée que vous cherchez ?<br />
              | Entrez-le pour localiser l'établissement sur la carte.            
            .input-append   
              input(type="text", name="lycee", placeholder="Ex : Albert Triboulet", autocomplete="off").input-medium.search-query
              button(type="submit").btn Chercher

        
        fieldset.hidden
          legend Trouver les lycées près de chez moi      
          form.inputs.form-search#placeFilter
            label
              | Entrez votre adresse pour trouver les établissements près de chez vous           
            .input-append   
              input(type="text", name="place", placeholder="Ex : 21, rue des Vertues").input-medium.search-query
              button(type="submit").btn Chercher

        fieldset.hidden
          legend Trouver une filière
          form.inputs#filiereFilter
            p Utiliser les critères ci-dessous pour afﬁcher les établissements qui vous intéressent
            .row-fluid 
              label
                .span3 Niveau
                select(name="level").span8
                  option(value="")  --
                  option(value="Pré-Bac")  Pré-bac
                  option(value="Post-Bac") Post-bac
              .span1.pull-right.reset.hide X

            .row-fluid.hide
              label
                .span3 Filière
                select(name="filiere",disabled=true).span8
                  option(value="")  --
                  each filiere in filieres
                      option(value=filiere["filiere-ppi"])=filiere["filiere-ppi"]
              .span1.pull-right.reset.hide X

            .row-fluid.hide
              label
                .span3 Sous filière
                select(name="sous-filiere",disabled=true).span8
                  option(value="")  --
                  each sousFiliere in sousFilieres
                    option(value=sousFiliere["sous-filiere-ppi"], data-filiere=sousFiliere["filiere-ppi"])=sousFiliere["sous-filiere-ppi"]
              .span1.pull-right.reset.hide X

        .internat
          label.checkbox.span12
            input(type="checkbox", name="hasInternat")
            | Avec internat

      .card
        .lycee


  #map