extends layout

block title
  = "Les lycées dans votre région"
  
block stylesheets
  link(href="/stylesheets/vendor/bootstrap/css/bootstrap.min.css", type='text/css', rel="stylesheet")
  link(href="/stylesheets/jscrollpane.css", type='text/css', rel="stylesheet")
  link(href="/stylesheets/style.css", type='text/css', rel="stylesheet")

block scripts
  script(src="//maps.googleapis.com/maps/api/js?sensor=true", type="text/javascript")
  script(src="//www.google.com/jsapi", type="text/javascript")
  script(src="/javascripts/vendor/infobox.js", type="text/javascript")
  script(src="/javascripts/vendor/bootstrap.min.js", type="text/javascript")
  script(src="/javascripts/vendor/underscore-min.js", type="text/javascript")
  script(src="/javascripts/vendor/jquery.scrollTo-min.js", type="text/javascript")
  script(src="/javascripts/vendor/jquery.idle-timer.js", type="text/javascript")    
  script(src="/javascripts/vendor/jade.min.js", type="text/javascript")
  script(src="/javascripts/vendor/jquery.jscrollpane.min.js", type="text/javascript")
  script(src="/javascripts/vendor/jquery.mousewheel.js", type="text/javascript")
  script(src="/javascripts/vendor/mwheelIntent.js", type="text/javascript")
  script(src="/javascripts/functions.utils.js", type="text/javascript")
  script(src="/javascripts/global.js", type="text/javascript")

block body
  #menu
    .menu-header
      h1 Les lycées<br />de votre région
      img(src="/images/tetiere-logo.png", class="idf")
      img(src="/images/tetiere-batiment1.png", class="batiment1")
      img(src="/images/tetiere-batiment2.png", class="batiment2")
      img(src="/images/pointeurs.png", class="pointeurs")
      .explore Explorez<br />les filières scolaires<br />et d'apprentissage
      h2.lycee 
        small Nature du lycée
        .name Nom du lycée
      a.back Retour  
    .slider
      .wrapper
        .card
          .filters.hidden
            h3 Rechercher un lycée par son nom
            form.inputs.form-search#lyceeFilter
              label
                | Vous cherchez un lycée en particulier ?<br />
                | Localisez le sur la carte et découvrez son offre de filières.<br />              
                input(type="text", name="lycee", placeholder="Ex : Albert Camus", autocomplete="off").input-search.right05
              button(type="submit").btn.btn-red Chercher

          
          .filters.hidden
            h3 Trouver les lycées près de chez vous
            form.inputs.form-search#placeFilter
              label(for="pl1")
                | Entrez votre adresse pour trouver les établissements près de chez vous.        

              .internat.checkbox.top10           
                input(type="checkbox", name="hasInternat", id="hi1")
                label(for="hi1") Uniquement avec internat
              
              input(type="text", name="place", id="pl1", placeholder="Ex : 21, rue des Vertus").input-search.right05
              button(type="submit").btn.btn-red Chercher

          .filters
            h3 Découvrir les filières

            .inputs
              p Afficher les établissements correspondant<br />aux critères de votre choix.
              .internat.checkbox.top10
                input(type="checkbox", name="hasInternat", id="hi2")
                label(for="hi2") Uniquement avec internat

              form#filiereFilter.bottom0
                .row-fluid
                  label.select
                    .span3 Niveau
                    .span8
                        select(name="niveau")
                          option(value="")  Choisissez...
                          option(value="Pré-Bac")  Pré-bac
                          option(value="Post-Bac") Post-bac
                  .span1.pull-right.reset.hide X

                .row-fluid.hide
                  label.select
                    .span3 Filière
                    .span8
                        select(name="filiere-ppi",disabled=true)
                          option(value="")  Choisissez...
                          each filiere in filieres
                            if filiere["filiere-ppi"] != ""
                              option(value=filiere["filiere-ppi"])=filiere["filiere-ppi"]
                  .span1.pull-right.reset.hide X

                .row-fluid.select.hide
                  label.select
                    .span3 Sous filière
                    .span8
                        select(name="sous-filiere-ppi",disabled=true)
                          option(value="")  Choisissez...
                          each sousFiliere in sousFilieres
                            if sousFiliere["sous-filiere-ppi"] != ""
                              option(value=sousFiliere["sous-filiere-ppi"], data-filiere=sousFiliere["filiere-ppi"])=sousFiliere["sous-filiere-ppi"]
                  .span1.pull-right.reset.hide X

                .row-fluid.tc.legend
                  .span4
                    img(src="/images/pointeur-scolaire.png")
                    | Scolaire
                  .span4
                    img(src="/images/pointeur-apprenti.png")
                    | Apprentissage
                  .span4
                    img(src="/images/pointeur-mixte.png")
                    | Scolaire&nbsp;et<br />apprentissage


        .card.large
          .lycee

      #menu-footer

  #map