@import "tools.less";

@menuWidth:350px;
@cardCount:2;

h1, h2, h3, h4, h5, h6, legend {
  font-family:"Gill", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#map {
  position:absolute;
  top:0;
  left:@menuWidth;
  bottom:0;
  right:0;

  padding:0;
  margin:0;

  z-index:10;

  // Bootstrap conflict with Google Maps
  // @src http://stackoverflow.com/questions/7471830/google-maps-api-v3-weird-ui-display-glitches-with-screenshot
  img { max-width: none; }

  .js-info-box {
    position:relative; 
    z-index:2000;   
    background:white;
    padding:5px;
    width:200px;
    margin-left:-110px;
    max-height:200px;
    .border-radius(5px);
    .box-shadow(0 2px 8px 0 rgba(0,0,0,0.5) );
    .transition(max-height 0.6s);

    h4 {
      padding:0;
      margin:0;
      font-size:14px;
      font-weight:bold;
    }

    p {
      padding:0;
      margin:0;
    }

    &:after {
      content:"";
      position:absolute;
      bottom:-5px;
      left:50%;
      margin-left:-5px;
      background:white;
      width:10px;
      height:10px;
      z-index:10;
      .rotate(45deg);
      .box-shadow(4px 4px 4px 0  rgba(0,0,0,0.5) );
    }

    .btn {
      position:relative;
      z-index:10000000;
    }

    &.js-open {

      padding-bottom:0;

      .btn, p {
        visibility: hidden;
      }      

    }

  }
}


#menu {  
  position:absolute;
  top:0;
  bottom:0;
  left:0;

  z-index:20;
  width:@menuWidth;
  overflow:hidden;  
  background:white;
  .box-shadow(0 -10px 10px fade(black, 60%));

  .menu-header {
    color:white;
    padding:20px 20px;
    margin:0 -10px;
    margin-bottom:5px;
    background: #006784;
    font-size:25px;
    .box-shadow(0 0 10px fade(black, 60%) inset);
    .transition(0.7s);
  }

  &.detail .menu-header {
    font-size:15px;
    padding:10px 20px;
  }

  .slider {

    width:@menuWidth;
    overflow:hidden;   

    .card {
      width:@menuWidth;      
      overflow:auto;
      float:left;
      .transition(0.7s);

      .lycee {
        padding:20px;

        .filters {
          margin:20px 0;
        }
      }
    }

    .wrapper {
      width:@menuWidth*@cardCount;
    }
  }

  .filters {
    
    width:@menuWidth - 30px*2px;
    margin:20px;
    margin-bottom:10px;    
    padding:0;    
    .box-shadow(0 2px 4px 0 fade(black, 60%) );
    .transition(0.4s); 
    .border-radius(5px);

    h3 {
      background:silver;
      display:block;
      padding:10px;      
      margin:0;
      line-height: 1em;
      font-size:12px;
      font-weight:bold;      
      cursor:pointer;
      text-transform: uppercase;
      border:0;      
      max-height:20px;
    }

    .inputs {              
      overflow:hidden;
      max-height:250px;
      margin:0;
      padding:10px;  
      .transition(0.4s); 
      
      label {
        display:inline;
      }                 
    }

    .reset {
      cursor:pointer;
    }

    &.hidden {
      
      .box-shadow(0 0 4px 0 fade(black, 60%) );

      .inputs {
        padding:0 10px;
        max-height:0px;      
      }
    }

  }    
  
}